# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
out
dist
.next
build

# Environment variables
.env.local
.env.*.local

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
